:root {
    --main-font: 'Source Sans Pro', sans-serif;
    --secondary-font: 'Herr Von Muellerhoff' , cursive;
    --body-font: 'Cabin', sans-serif;
    --main-font-color-dark: #252525;
    --secondary-font-color: #c59d5f;
    --body-font-color: #515151;
    
}



.bgimg2 {
    height: 55rem;
    width: 100%;
    background:
linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
background-color: #131313;
background-size: 20px 20px;
    padding: 10rem;
}


#aboutUs {
    position: absolute;
    top: 0;
    left: 50%;
    padding: 10rem;
    overflow: hidden;
    height: auto;
    transform: translateX(-50%);
    width: 100%;
}

.white_circle {
    height: auto;
    display: block;
    margin: 30px 0px;
    overflow: hidden;
    width: 100%;
}


.white_circle h1 {
    font-size: 36px;
    color: rgba(158,255,25,252);
    font-family: var( --main-font);
    line-height: 1.2em;
    text-align: center;
     padding-top: 0px; 
    padding: 60px;
    background: linear-gradient(rgba(125,02,0,0.5),rgba(0,0,0,0.5));
    height: auto;
}






.footer_about {
    position: relative;
    width: 100%;
    height: 10rem;
    background-color: black;
    background-image: radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px), radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px), radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px), radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
    background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
    background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
    color: #fff;
    padding: 4rem;
/*    margin-top: 80%;*/
}


@media(min-width: 768px) and (max-width: 991px){


.bgimg2 {
    height: 82rem;
}
    
    
.footer_about {
    padding: 50px 0px 0px 0px;
}
    
.white_circle {
    height: auto;
    display: block;
    margin: 220px 30px;
    /* overflow: hidden; */
    width: 90%;
}
    
#aboutUs {
    margin: 0px;
    padding: 0;
    overflow: hidden;
    height: auto;
}

.white_circle h1 {
    font-size: 36px;
    line-height: 1.2em;
    padding: 60px;
}
    


}
@media(min-width: 575px) and (max-width: 767px){

.bgimg2 {
    height: 95rem;
}
    
    
.footer_about {
    padding: 50px 0px 0px 0px;
}
    
.white_circle {
    height: auto;
    display: block;
    margin: 220px 30px;
    /* overflow: hidden; */
    width: 90%;
}
    
#aboutUs {
    margin: 0px;
    padding: 0;
    overflow: hidden;
    height: auto;
}

.white_circle h1 {
    font-size: 36px;
    line-height: 1.2em;
    padding: 60px;
}

}

@media(min-width: 480px) and (max-width: 574px){

.bgimg2 {
    height: 116rem;
}
    
    
.footer_about {
    padding: 50px 0px 0px 0px;
}
    
.white_circle {
    height: auto;
    display: block;
    margin: 220px 30px;
    /* overflow: hidden; */
    width: 90%;
}
    
#aboutUs {
    margin: 0px;
    padding: 0;
    overflow: hidden;
    height: auto;
}

.white_circle h1 {
    font-size: 36px;
    line-height: 1.2em;
    padding: 60px;
}

}

@media(max-width: 479px){

.bgimg2 {
    height: 204rem;
}
    
    
.footer_about {
    padding: 50px 0px 0px 0px;
}
    
.white_circle {
    height: auto;
    display: block;
    margin: 220px 30px;
    /* overflow: hidden; */
    width: 90%;
}
    
#aboutUs {
    margin: 0px;
    padding: 0;
    overflow: hidden;
    height: auto;
    transform: translateX(-52%);
}

.white_circle h1 {
    font-size: 36px;
    line-height: 1.2em;
    padding: 60px;
}
    

    

}