.bgimg1{
    background-size: 100% 100%;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../img/Office.jpg');
}

.footer {
    height: 70px;
    margin-top: 561px;
    width: 100%;
    height: 10rem;
    background-color: black;
    background-image: radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px), radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px), radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px), radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
    background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
    background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}


#aboutUs {
    background-position: top -250px center;
    margin: 0px;
    padding: 10rem;
    overflow: hidden;
    height: 800px;
}

.white_circle {
    background-color: rgba(255, 255, 255, 0.7);
    max-width: 70%;
    height: auto;
    display: block;
    border-radius: 50%;
    margin: 30px 0px;
    overflow: hidden;
}


.white_circle h1 {
    font-size: 36px;
    color: #002466;
    font-family: Playfair Display;
    line-height: 1.2em;
    text-align: center;
    padding-top: 150px;
}