

ul li a .fa{
    font-size: 40px;
    color: #262626;
    line-height: 80px;
    transition: .5s;
}

/*
ul li a {
    position: relative;
    display: block;
    width: 80px;
    height: 80px;
    background: #fff;
    text-align: center;
    transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(0,0);
    transition: .5s;
    box-shadow: -20px 20px 10px rgba(0,0,0,.5);
}
*/

#collapsenavbar ul li a {
    position: relative;
    top: 0px;
    width: 120px;
    height: 59px;
    background: #a8323c;
    text-align: center;
    transform: perspective(500px) rotate(-30deg) skew(25deg) translate(-20px, -20px);
    transition: .5s;
    box-shadow: -20px 20px 10px rgba(0,0,0,.5);
    left: 50%;
    transform: translateX(-50%);
}

#collapsenavbar ul li a::before {
    content: '';
    position: absolute;
    top: 10px;
    left: -20px;
    height: 100%;
    width: 20px;
    background: #a8324c;
    transition: .5s;
    transform: rotate(0deg) skewY(-45deg);
}


#collapsenavbar ul li a::after {
    content: '';
    position: absolute;
    bottom: -20px;
    left: -10px;
    height: 20px;
    width: 100%;
    background: #a83261;
    transition: .5s;
    transform: rotate(0deg) skewX(-45deg);
}

#collapsenavbar ul li a:hover{
    transform: perspective(500px) rotate(-30deg) skew(25deg) translate(-20px, -20px);
    box-shadow: -50px 20px 10px rgba(0,0,0,.5);
}



#collapsenavbar ul li:hover:nth-child(1) a{
    background: #3b5999;
}

#collapsenavbar ul li:hover:nth-child(1) a:before{
    background: #2e4a86;
}

#collapsenavbar ul li:hover:nth-child(1) a:after{
    background: #4a69ad;
}

#collapsenavbar ul li:hover:nth-child(2) a{
    background: #55acee;
}

#collapsenavbar ul li:hover:nth-child(2) a:before{
    background: #1ab7ea;
}

#collapsenavbar ul li:hover:nth-child(2) a:after{
    background: #0077b5;
}

#collapsenavbar ul li:hover:nth-child(3) a{
    background: #dd4b39;
}

#collapsenavbar ul li:hover:nth-child(3) a:before{
    background: #df2029;
}

#collapsenavbar ul li:hover:nth-child(3) a:after{
    background: #ff3300;
}


#collapsenavbar ul li:hover:nth-child(4) a{
    background: #0077B5;
}

#collapsenavbar ul li:hover:nth-child(4) a:before{
    background: #0077b5;
}

#collapsenavbar ul li:hover:nth-child(4) a:after{
    background: #00AFF0;
}

#collapsenavbar ul li:hover:nth-child(5) a{
    background: #e4405f;
}

#collapsenavbar ul li:hover:nth-child(5) a:before{
    background: #ea4c89;
}

#collapsenavbar ul li:hover:nth-child(5) a:after{
    background: #ff0084;
}
