
/*form overlay*/


input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}


label {
    display: inline-block;
    margin-bottom: 0.5rem;
    float: left;
    padding-left: 10px;
    color: #000;
}


/* Set a style for all buttons */
.container-form button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}


.container-bottom{
    padding: 16px;
    height: 80px;
}



.container-form button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
    cursor: pointer;
}

.container-bottom button{
    float: left;
    
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container-form {
  padding: 50px;
}

span.psw {
  float: right;
  padding-top: 16px;
    color: red;
}


.contact-form {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 68px;
}

/* The Modal (background) */
.modal-form {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 68px;
}

/* Modal Content/Box */
.modal-content {
  display: block;
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 40%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close_subs {
    position: relative;
    left: 66%;
    top: -90px;
    color: #000;
    font-size: 75px;
    font-weight: bold;
    /* background-color: #fff; */
    border-radius: 32px 40px 15px 10px;
    /* z-index: 99999; */
}

.close {
    float: right;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    position: absolute;
    right: 29%;
}

.close_subs:hover,
.close_subs:focus {
  color: red;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */

@media screen and (max-width:970px) {
  span.psw {
     display: block;
     float: none;
  }
.cancelbtn {
     width: 100%;
     
  }
    
.container-bottom {
    padding: 16px;
    height: 100px;
}
    
    .modal-content {
        width: 80%;
}
    
.close {
    right: 14%;
}
    
}

@media screen and (max-width: 730px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
     
  }
    
    .container-bottom {
    padding: 16px;
    height: 100px;
}
    
    .modal-content {
        width: 80%;
    }
    
.close_subs {
    top: -67px;
    left: 65%;
    font-size: 40px;
}
    
    .close {
        right: 14%;
    }
    



}




@media screen and (max-width: 470px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
     
  }
    
.@media screen and (max-width: 470px)
.close_subs {
    top: -67px;
    left: 65%;
    font-size: 40px;
}
    
.close {
    right: 14%;
}
    
    .container-bottom {
    padding: 16px;
    height: 100px;
}
    
    .modal-content {
        width: 90%;
}
    
    
    

    

}