/*Header Layout Images*/

#first_layout:hover, #Second_layout:hover, #Third_layout:hover{
    opacity: 0.5;
    cursor: pointer;

}

<<<<<<< HEAD
.first_layout_overlay {
    position: fixed;
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.9));
    width: 100%;
    height: 830px;
     display: none; 
    z-index: 99999;
    top: 0%;
    /* left: 10%; */
    overflow-y: scroll;
    overflow-X: hidden;
}


.first_layout_click {
    position: relative;
    width: 100%;
    height: auto;
    left: 15%;
    top: 100px;
    animation: topup 2s;
}

@keyframes topup{
    from{top:100px;};
    to{top:50px;};
}


.second_layout_overlay {
    position: fixed;
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.9));
    width: 100%;
    height: 830px;
     display: none; 
    z-index: 99999;
    top: 0%;
    /* left: 10%; */
    overflow-y: scroll;
    overflow-X: hidden;
}


.second_layout_click {
=======
/*
.first_layout {
>>>>>>> parent of 563fe25... a
    position: relative;
    background-image: url(../img/layout/1.jpeg);
    width: 100%;
    height: 200%;
    background-size: 100% 100%;
    overflow-y: scroll;
    left: -3%;
    z-index: 1;
    display: none;
}

.first_layout_overlay {
    position: absolute;
    background:linear-gradient(rgba(0,0,0,0.5));
    width: 100%;
    height: 500px;
    background-size: contain;
}

.close_lay {
    font-size: 50px;
    color: #000;
    left: 96%;
    position: relative;
    top: -20px;
    background: #158;
    border-radius: 50px;
}
*/

/*Sachin Overlay*/

.modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 0; /* Sit on top */
  left: 0;
  top: -800px;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: hidden; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
 display: none;
    
  
}

.aboutoverlay {
    position: fixed;
    display: block;
    max-width: 72%;
    height: 500px;
    top: -800px;
    left: 16%;
    right: 0;
    bottom: 0;
    background-color: #fff!important;
    z-index: 2;
    text-align: center;
    font-size: 50px;
    overflow: hidden;
    overflow-y: hidden;
    border-radius: 10px 10px 10px 10px;
    animation: Sachin-top 2s forwards;
}

@keyframes Sachin-top {
  from {top: 150px;}
  to {top: 50px;}
}



    
#close {
    position: relative;
    /* background-image: url(../106830.png); */
    background-size: 100% 100%;
    width: 6%;
    height: 108px;
    top: -92px;
    left: 94%;
    display: none;
    background-color: #ccc!important;
    /* border: 2px solid black; */
    /* padding: 0px 0px 0px 0px; */
    font-size: 75px;
}
    
#close:hover{
    opacity: 0.7;
    cursor: pointer;
}
.align{
    margin-top: 10px;
}

#bluebar{
    position: relative;
    background-color: #009688!important;
    width: 100%;
    height: 100px;
    top: 0px;
    left: 0px;
    font-family: sans-serif;
}


.content{
    color: white;
    font-family: "Segoe UI",Arial,sans-serif;
    padding-top: 10px;
}

.image-sachin {
    float: left;
    padding: 30px;
    
}

.image-sachin img{
    width: 300px;
    height: 300px;
    animation: sachin 2s;
}

@keyframes sachin {
  from {padding: 80px;}
  to {padding: 0px;}
}

.image-sachin h1 {
    position: absolute;
    float: left;
    padding-bottom: 80px;
    font-family: "Segoe UI",Arial,sans-serif;
    color: #009688;
    left: 60px;
}





.copyright-overlay{
    font-size: 50px;
    padding: 90px;
}

footer img {
    width: 40px;
    height: 40px;
    margin-top: -8px;
    border-radius: 51px;
    background: #589;
}
/*Sachin Overlay Ends*/

/*Snehal overlay*/


.modal_Snehal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 9999; /* Sit on top */
  left: 0;
  top: 0px;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: hidden; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
 display: none;
    
  
}

.aboutoverlay_Snehal {
    position: fixed;
    display: block;
    max-width: 72%;
    height: 500px;
    top: -600px;
    left: 16%;
    right: 0;
    bottom: 0;
    background-color: #fff!important;
    text-align: center;
    font-size: 50px;
    overflow: hidden;
    overflow-y: hidden;
    border-radius: 10px 10px 10px 10px;
    animation: Snehal-top 2s forwards;
}

@keyframes Snehal-top {
  from {top: 150px;}
  to {top: 50px;}
}



    
#close_Snehal {
    position: relative;
    /* background-image: url(../106830.png); */
    background-size: 100% 100%;
    width: 6%;
    height: 108px;
    top: -92px;
    left: 94%;
    display: none;
    background-color: #ccc!important;
    /* border: 2px solid black; */
    /* padding: 0px 0px 0px 0px; */
    font-size: 75px;
}
    
#close_Snehal:hover{
    opacity: 0.7;
    cursor: pointer;
}


#bluebar_Snehal{
    position: relative;
    background-color: #125!important;
    width: 100%;
    height: 100px;
    top: 0px;
    left: 0px;
    font-family: sans-serif;
}


.content{
    color: white;
    font-family: "Segoe UI",Arial,sans-serif;
    padding-top: 10px;
}

.image-snehal {
    float: left;
    padding: 30px;
    
}

.image-snehal img{
    width: 300px;
    height: 300px;
    animation: snehal 2s;
}

@keyframes snehal {
  from {padding: 80px;}
  to {padding: 0px;}
}

.image-snehal h1{
    position: absolute;
    float: left;
    padding-bottom: 80px;
    font-family: "Segoe UI",Arial,sans-serif;
    color:  #256;
    left: 60px;
    
}




/*Snehal Ends*/


/*Suchita overlay*/


.modal_Suchita {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 9999; /* Sit on top */
  left: 0;
  top: 0px;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: hidden; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
 display: none;
    
  
}

.aboutoverlay_Suchita {
    position: fixed;
    display: block;
    max-width: 72%;
    height: 500px;
    top: -600px;
    left: 16%;
    right: 0;
    bottom: 0;
    background-color: #fff!important;
    text-align: center;
    font-size: 50px;
    overflow: hidden;
    overflow-y: hidden;
    border-radius: 10px 10px 10px 10px;
    animation: Suchita-top 2s forwards;
}

@keyframes Suchita-top {
  from {top: 150px;}
  to {top: 50px;}
}



    
#close_Suchita {
    position: relative;
    /* background-image: url(../106830.png); */
    background-size: 100% 100%;
    width: 6%;
    height: 108px;
    top: -92px;
    left: 94%;
    display: none;
    background-color: #ccc!important;
    /* border: 2px solid black; */
    /* padding: 0px 0px 0px 0px; */
    font-size: 75px;
}
    
#close_Suchita:hover{
    opacity: 0.7;
    cursor: pointer;
}


#bluebar_Suchita{
    position: relative;
    background-color: #e4405f!important;
    width: 100%;
    height: 100px;
    top: 0px;
    left: 0px;
    font-family: sans-serif;
}


.content{
    color: white;
    font-family: "Segoe UI",Arial,sans-serif;
    padding-top: 10px;
}

.image-suchita {
    float: left;
    padding: 30px;
    
}

.image-suchita img{
    width: 300px;
    height: 300px;
    animation: suchita 2s;
}

@keyframes suchita {
  from {padding: 80px;}
  to {padding: 0px;}
}


.image-suchita h1{
    position: absolute;
    float: left;
    padding-bottom: 80px;
    font-family: "Segoe UI",Arial,sans-serif;
    color:  #e4405f;
    left: 60px;
    
}




/*Suchita Ends*/


/*Anil overlay*/


.modal_Anil {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 9999; /* Sit on top */
  left: 0;
  top: 0px;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: hidden; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
 display: none;
    
  
}

.aboutoverlay_Anil {
    position: fixed;
    display: block;
    max-width: 72%;
    height: 500px;
    top: -600px;
    left: 16%;
    right: 0;
    bottom: 0;
    background-color: #fff!important;
    text-align: center;
    font-size: 50px;
    overflow: hidden;
    overflow-y: hidden;
    border-radius: 10px 10px 10px 10px;
    animation: anil-top 2s forwards;
}

@keyframes anil-top {
  from {top: 150px;}
  to {top: 50px;}
}



    
#close_Anil {
    position: relative;
    /* background-image: url(../106830.png); */
    background-size: 100% 100%;
    width: 6%;
    height: 108px;
    top: -92px;
    left: 94%;
    display: none;
    background-color: #ccc!important;
    /* border: 2px solid black; */
    /* padding: 0px 0px 0px 0px; */
    font-size: 75px;
}
    
#close_Anil:hover{
    opacity: 0.7;
    cursor: pointer;
}


#bluebar_Anil{
    position: relative;
    background-color: #369!important;
    width: 100%;
    height: 100px;
    top: 0px;
    left: 0px;
    font-family: sans-serif;
}


.content{
    color: white;
    font-family: "Segoe UI",Arial,sans-serif;
    padding-top: 10px;
}

.image-anil {
    float: left;
    padding: 30px;
    
}

.image-anil img{
    width: 300px;
    height: 300px;
    animation: anil 2s;
}

@keyframes anil {
  from {padding: 80px;}
  to {padding: 0px;}
}

.image-anil h1{
    position: absolute;
    float: left;
    padding-bottom: 80px;
    font-family: "Segoe UI",Arial,sans-serif;
    color:  #e4405f;
    left: 60px;
    
}

/*Anil Ends*/




/*Sushant overlay*/


.modal_Sushant {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 9999; /* Sit on top */
  left: 0;
  top: 0px;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: hidden; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
 display: none;
    
  
}

.aboutoverlay_Sushant {
    position: fixed;
    display: block;
    max-width: 72%;
    height: 500px;
    top: -600px;
    left: 16%;
    right: 0;
    bottom: 0;
    background-color: #fff!important;
    text-align: center;
    font-size: 50px;
    overflow: hidden;
    overflow-y: hidden;
    border-radius: 10px 10px 10px 10px;
    animation: sushant-top 2s forwards;
}

@keyframes sushant-top {
  from {top: 150px;}
  to {top: 50px;}
}

    
#close_Sushant {
    position: relative;
    /* background-image: url(../106830.png); */
    background-size: 100% 100%;
    width: 6%;
    height: 108px;
    top: -92px;
    left: 94%;
    display: none;
    background-color: #ccc!important;
    /* border: 2px solid black; */
    /* padding: 0px 0px 0px 0px; */
    font-size: 75px;
}
    
#close_Sushant:hover{
    opacity: 0.7;
    cursor: pointer;
}


#bluebar_Sushant{
    position: relative;
    background-color: #568!important;
    width: 100%;
    height: 100px;
    top: 0px;
    left: 0px;
    font-family: sans-serif;
}


.content{
    color: white;
    font-family: "Segoe UI",Arial,sans-serif;
    padding-top: 10px;
}

.image-sushant {
    float: left;
    padding: 30px;
    
}

.image-sushant img{
    width: 300px;
    height: 300px;
    animation: sushant 2s;
}

@keyframes sushant {
  from {padding: 80px;}
  to {padding: 0px;}
}

.image-sushant h1{
    position: absolute;
    float: left;
    padding-bottom: 80px;
    font-family: "Segoe UI",Arial,sans-serif;
    color:  #e4405f;
    left: 60px;
}

/*Sushant Ends*/



/*Dinesh overlay*/


.modal_Dinesh {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 9999; /* Sit on top */
  left: 0;
  top: 0px;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: hidden; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
 display: none;
    
  
}

.aboutoverlay_Dinesh {
    position: fixed;
    display: block;
    max-width: 72%;
    height: 500px;
    top: -600px;
    left: 16%;
    right: 0;
    bottom: 0;
    background-color: #fff!important;
    text-align: center;
    font-size: 50px;
    overflow: hidden;
    overflow-y: hidden;
    border-radius: 10px 10px 10px 10px;
    animation: dinesh-top 2s forwards;
}

@keyframes dinesh-top {
  from {top: 150px;}
  to {top: 50px;}
}




    
#close_Dinesh {
    position: relative;
    /* background-image: url(../106830.png); */
    background-size: 100% 100%;
    width: 6%;
    height: 108px;
    top: -92px;
    left: 94%;
    display: none;
    background-color: #ccc!important;
    /* border: 2px solid black; */
    /* padding: 0px 0px 0px 0px; */
    font-size: 75px;
}
    
#close_Dinesh:hover{
    opacity: 0.7;
    cursor: pointer;
}


#bluebar_Dinesh{
    position: relative;
    background-color: #256!important;
    width: 100%;
    height: 100px;
    top: 0px;
    left: 0px;
    font-family: sans-serif;
}


.content{
    color: white;
    font-family: "Segoe UI",Arial,sans-serif;
    padding-top: 10px;
}

.image-dinesh {
    float: left;
    padding: 30px;
    
}

.image-dinesh img{
    width: 300px;
    height: 300px;
/*    opacity: 0;*/
    animation: dinesh 2s;
    
}

@keyframes dinesh {
  from {padding: 80px;}
  to {padding: 0px;}
}

.image-dinesh h1{
    position: absolute;
    float: left;
    padding-bottom: 80px;
    font-family: "Segoe UI",Arial,sans-serif;
    color:  #e4405f;
    left: 60px;
}

/*Dinesh Ends*/



















/*   Responsive Code  */


@media(min-width: 700px) and (max-width: 1100px){
    
/*Sachin Overlay*/
.aboutoverlay {
    left: 6px;
    max-width: 98%;
    position: fixed;
    height: 220px;
}
    
.image-sachin {
    float: left;
    padding: 30px;
    
}
.image-sachin img{
    width: 100px;
    height: 100px;
    
}
    
.image-sachin h1{
    font-size: 20px;
    
}
    
.copyright-overlay{
    font-size: 20px;
    padding-top: 40px;
}

.content{
    font-size: 23px;
    
}
    
#close {
    left: 0%;
    font-size: 57px;
    width: 31px;
    height: 71px;
    top: -62px;
    float: right;
}
    
#bluebar {   
    height: 53px;
}

/*ENds*/

    
/*Snehal Overlay*/
    
.aboutoverlay_Snehal {
    left: 6px;
    max-width: 98%;
    position: fixed;
    height: 220px;
}
    
.image-snehal {
    float: left;
    padding: 30px;
    
}
.image-snehal img{
    width: 100px;
    height: 100px;
    
}
    
.image-snehal h1{
    font-size: 20px;
    
}
    
.copyright-overlay{
    font-size: 20px;
    padding-top: 40px;
}

.content{
    font-size: 23px;
    
}
    
#close_Snehal {
    left: 0%;
    font-size: 57px;
    width: 31px;
    height: 71px;
    top: -62px;
    float: right;
}
    
#bluebar_Snehal {   
    height: 53px;
}
/*Ends*/
 
    

/*Suchita Overlay*/
    
.aboutoverlay_Suchita {
    left: 6px;
    max-width: 98%;
    position: fixed;
    height: 220px;
}
    
.image-suchita {
    float: left;
    padding: 30px;
    
}
.image-suchita img{
    width: 100px;
    height: 100px;
    
}
    
.image-suchita h1{
    font-size: 20px;
    
}
    
.copyright-overlay{
    font-size: 20px;
    padding-top: 40px;
}

.content{
    font-size: 23px;
    
}
    
#close_Suchita {
    left: 0%;
    font-size: 57px;
    width: 31px;
    height: 71px;
    top: -62px;
    float: right;
}
    
#bluebar_Suchita {   
    height: 53px;
}
/*Ends*/
    

    
    
/*Anil Overlay*/
    
.aboutoverlay_Anil {
    left: 6px;
    max-width: 98%;
    position: fixed;
    height: 220px;
}
    
.image-anil {
    float: left;
    padding: 30px;
    
}
.image-anil img{
    width: 100px;
    height: 100px;
    
}
    
.image-anil h1{
    font-size: 20px;
    
}
    
.copyright-overlay{
    font-size: 20px;
    padding-top: 40px;
}

.content{
    font-size: 23px;
    
}
    
#close_Anil {
    left: 0%;
    font-size: 57px;
    width: 31px;
    height: 71px;
    top: -62px;
    float: right;
}
    
#bluebar_Anil {   
    height: 53px;
}
/*Ends*/
    
 
    
    
/*Sushant Overlay*/
    
.aboutoverlay_Sushant {
    left: 6px;
    max-width: 98%;
    position: fixed;
    height: 220px;
}
    
.image-sushant {
    float: left;
    padding: 30px;
    
}
.image-sushant img{
    width: 100px;
    height: 100px;
    
}
    
.image-sushant h1{
    font-size: 20px;
    
}
    
.copyright-overlay{
    font-size: 20px;
    padding-top: 40px;
}

.content{
    font-size: 23px;
    
}
    
#close_Sushant {
    left: 0%;
    font-size: 57px;
    width: 31px;
    height: 71px;
    top: -62px;
    float: right;
}
    
#bluebar_Sushant {   
    height: 53px;
}
/*Ends*/
    
 
    
    
/*Dinesh Overlay*/
    
.aboutoverlay_Dinesh {
    left: 6px;
    max-width: 98%;
    position: fixed;
    height: 220px;
}
    
.image-dinesh {
    float: left;
    padding: 30px;
    
}
.image-dinesh img{
    width: 100px;
    height: 100px;
    
}
    
.image-dinesh h1{
    font-size: 20px;
    
}
    
.copyright-overlay{
    font-size: 20px;
    padding-top: 40px;
}

.content{
    font-size: 23px;
    
}
    
#close_Dinesh {
    left: 0%;
    font-size: 57px;
    width: 31px;
    height: 71px;
    top: -62px;
    float: right;
}
    
#bluebar_Dinesh {   
    height: 53px;
}
/*Ends*/
    
}













@media(min-width: 480px) and (max-width: 700px){
   
/*Sachin Overlay*/
.aboutoverlay {
    left: 6px;
    max-width: 98%;
    position: fixed;
    height: 220px;
}
    
.image-sachin {
    float: left;
    padding: 30px;
    
}
.image-sachin img{
    width: 100px;
    height: 100px;
    
}
    
.image-sachin h1{
    font-size: 20px;
    
}
    
.copyright-overlay{
    font-size: 20px;
    padding-top: 40px;
}

.content{
    font-size: 23px;
    
}
    
#close {
    left: 0%;
    font-size: 57px;
    width: 31px;
    height: 71px;
    top: -62px;
    float: right;
}
    
#bluebar {   
    height: 53px;
}

/*Ends*/
 
    

/*Snehal Overlay*/
    
.aboutoverlay_Snehal {
    left: 6px;
    max-width: 98%;
    position: fixed;
    height: 220px;
}
    
.image-snehal {
    float: left;
    padding: 30px;
    
}
.image-snehal img{
    width: 100px;
    height: 100px;
    
}
    
.image-snehal h1{
    font-size: 20px;
    
}
    
.copyright-overlay{
    font-size: 20px;
    padding-top: 40px;
}

.content{
    font-size: 23px;
    
}
    
#close_Snehal {
    left: 0%;
    font-size: 57px;
    width: 31px;
    height: 71px;
    top: -62px;
    float: right;
}
    
#bluebar_Snehal {   
    height: 53px;
}
/*Ends*/

    
    
/*Suchita Overlay*/
    
.aboutoverlay_Suchita {
    left: 6px;
    max-width: 98%;
    position: fixed;
    height: 220px;
}
    
.image-suchita {
    float: left;
    padding: 30px;
    
}
.image-suchita img{
    width: 100px;
    height: 100px;
    
}
    
.image-suchita h1{
    font-size: 20px;
    
}
    
.copyright-overlay{
    font-size: 20px;
    padding-top: 40px;
}


    
#close_Suchita {
    left: 0%;
    font-size: 57px;
    width: 31px;
    height: 71px;
    top: -62px;
    float: right;
}
    
#bluebar_Suchita {   
    height: 53px;
}
/*Ends*/
    


/*Anil Overlay*/
    
.aboutoverlay_Anil {
    left: 6px;
    max-width: 98%;
    position: fixed;
    height: 220px;
}
    
.image-anil {
    float: left;
    padding: 30px;
    
}
.image-anil img{
    width: 100px;
    height: 100px;
    
}
    
.image-anil h1{
    font-size: 20px;
    
}
    
.copyright-overlay{
    font-size: 20px;
    padding-top: 40px;
}


    
#close_Anil {
    left: 0%;
    font-size: 57px;
    width: 31px;
    height: 71px;
    top: -62px;
    float: right;
}
    
#bluebar_Anil {   
    height: 53px;
}
/*Ends*/
    

/*Sushant Overlay*/
    
.aboutoverlay_Sushant {
    left: 6px;
    max-width: 98%;
    position: fixed;
    height: 220px;
}
    
.image-sushant {
    float: left;
    padding: 30px;
    
}
.image-sushant img{
    width: 100px;
    height: 100px;
    
}
    
.image-sushant h1{
    font-size: 20px;
    
}
    
.copyright-overlay{
    font-size: 20px;
    padding-top: 40px;
}


    
#close_Sushant {
    left: 0%;
    font-size: 57px;
    width: 31px;
    height: 71px;
    top: -62px;
    float: right;
}
    
#bluebar_Sushant {   
    height: 53px;
}
/*Ends*/




/*Dinesh Overlay*/
    
.aboutoverlay_Dinesh {
    left: 6px;
    max-width: 98%;
    position: fixed;
    height: 220px;
}
    
.image-dinesh {
    float: left;
    padding: 30px;
    
}
.image-dinesh img{
    width: 100px;
    height: 100px;
    
}
    
.image-dinesh h1{
    font-size: 20px;
    
}
    
.copyright-overlay{
    font-size: 20px;
    padding-top: 40px;
}


    
#close_Dinesh {
    left: 0%;
    font-size: 57px;
    width: 31px;
    height: 71px;
    top: -62px;
    float: right;
}
    
#bluebar_Dinesh {   
    height: 53px;
}
/*Ends*/


}









@media only screen and (max-width: 480px) {

/*Sachin Overlay*/
    
.aboutoverlay {
    left: 3px;
    max-width: 98%;
    position: fixed;
    height: 470px;
}

 #bluebar {   
    height: 73px;
}   

.content{
    font-size: 33px;
    
}
.image-sachin img{
    width: 200px;
    height: 200px;
    
}
    
.image-sachin {
    float: left;
    padding: 50px 80px;
    margin-top: -100px;
} 
    
    
.image-sachin h1 {
    font-size: 25px;
    left: 100px;
}    
.copyright-overlay {
    font-size: 23px;
    text-align: center;
    padding: 40px;
}

#close {
    left: 0%;
    font-size: 56px;
    width: 42px;
    height: 80px;
    top: -66px;
    float: right;
}
    
footer img {
    width: 30px;
    height: 30px;
    margin-top: -7px;
}  
    
/*Ends*/
    
    
    
/*Snehal Overlay*/
    
.aboutoverlay_Snehal {
    left: 3px;
    max-width: 98%;
    position: fixed;
    height: 470px;
}

 #bluebar_Snehal {   
    height: 73px;
}   

.content{
    font-size: 33px;
    
}
    
.image-snehal {
    float: left;
    padding: 50px 80px;
    margin-top: -100px;
}
    
    
.image-snehal img{
    width: 200px;
    height: 200px;
    
}  
    
.image-snehal h1 {
    font-size: 25px;
    left: 100px;
}    
.copyright-overlay {
    font-size: 23px;
    text-align: center;
    padding: 40px;
}

#close_Snehal {
    left: 0%;
    font-size: 56px;
    width: 42px;
    height: 80px;
    top: -66px;
    float: right;
}
    
/*Ends*/
    
    
    
    
/*Suchita Overlay*/
    
.aboutoverlay_Suchita {
    left: 3px;
    max-width: 98%;
    position: fixed;
    height: 470px;
}

 #bluebar_Suchita {   
    height: 73px;
}   


.image-suchita img{
    width: 200px;
    height: 200px;
    
}
    
.image-suchita {
    float: left;
    padding: 50px 80px;
    margin-top: -100px;
}
    
.image-suchita h1 {
    font-size: 25px;
    left: 100px;
}    
.copyright-overlay {
    font-size: 23px;
    text-align: center;
    padding: 40px;
}

#close_Suchita {
    left: 0%;
    font-size: 56px;
    width: 42px;
    height: 80px;
    top: -66px;
    float: right;
}



/*Anil Overlay*/
    
.aboutoverlay_Anil {
    left: 3px;
    max-width: 98%;
    position: fixed;
    height: 470px;
}

 #bluebar_Anil {   
    height: 73px;
}   


.image-anil img{
    width: 200px;
    height: 200px;
    
}
    
.image-anil {
    float: left;
    padding: 50px 80px;
    margin-top: -100px;
}  
    
.image-anil h1 {
    font-size: 25px;
    left: 100px;
}   
    
.copyright-overlay {
    font-size: 23px;
    text-align: center;
    padding: 40px;
}

#close_Anil {
    left: 0%;
    font-size: 56px;
    width: 42px;
    height: 80px;
    top: -66px;
    float: right;
}



/*Sushant Overlay*/
    
.aboutoverlay_Sushant {
    left: 3px;
    max-width: 98%;
    position: fixed;
    height: 470px;
}

 #bluebar_Sushant {   
    height: 73px;
}   


.image-sushant img{
    width: 200px;
    height: 200px;
    
}
    
.image-sushant {
    float: left;
    padding: 50px 80px;
    margin-top: -100px;
}  
    
.image-sushant h1 {
    font-size: 25px;
    left: 100px;
}  
    
.copyright-overlay {
    font-size: 23px;
    text-align: center;
    padding: 40px;
}

#close_Sushant {
    left: 0%;
    font-size: 56px;
    width: 42px;
    height: 80px;
    top: -66px;
    float: right;
}
    
    
    
/*Dinesh Overlay*/
    
.aboutoverlay_Dinesh {
    left: 3px;
    max-width: 98%;
    position: fixed;
    height: 470px;
}

 #bluebar_Dinesh {   
    height: 73px;
}   


.image-dinesh img{
    width: 200px;
    height: 200px;
    
}
    
.image-dinesh {
    float: left;
    padding: 50px 80px;
    margin-top: -100px;
}  
    
.image-dinesh h1 {
    font-size: 25px;
    left: 100px;
}    
.copyright-overlay {
    font-size: 23px;
    text-align: center;
    padding: 40px;
}

#close_Dinesh {
    left: 0%;
    font-size: 56px;
    width: 42px;
    height: 80px;
    top: -66px;
    float: right;
}
    
    
}