
body{
    overflow-x: hidden;
}


.navbar{
 box-shadow: 2px 4px 5px 2px !important;
 background: #2f2626;
 

}

.navbar-dark .navbar-toggler {
    z-index: 999;
}

.social-icons {
    position: absolute;
    top: 0;
    left: 0;
}

.social-icons img {
    width: 8% !important;
    height: auto;
    left: 10%;
    position: relative;
    /* padding: 10px 10px 10px 0px; */
}

.container {
    position: relative;
    max-width: 100% !important;
    /* height: 100px; */
}

.image {
  display: block;
  width: 100%;
  height: auto;
}




.colorchange {
    animation: colorchangethapa 3s infinite;
    animation-duration: 5s;
}


@keyframes colorchangethapa{
    0%{color: red; }
    25%{color: purple; }
    50%{color: white; }
    100%{color: yellow; }
}



.Sachin img {
    background-size: 100% 100%;
    width: 50px;
    height: auto;
    border-radius: 50%;
    z-index: 0;
}

.Sachin p{
    font-size: 1rem;
}

.image-me {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
    
}






#aboutme:hover{
    cursor: pointer;
    text-decoration: underline;
    color: red;
}




/*Header section*/

.bgimg{
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url('../img/body.jpg');
}




.bg-warning color-icon1 i{
    margin-left:  left: 500px;
}

.color-icon2{
    padding-left: 50px;
}

.color-icon3{
    padding-left: 50px;
}







.hearderset{
    padding-top: 200px;
    box-sizing: border-box;  
}


.hearderset h2{
    font-size: 42px;
    text-transform: capitalize;
}


h2{
    animation: animatezoom 3s forwards;
}

/*
@keyframes animateout{
        0%{
            transform: scale(5);
        }
        100%{
            transform: scale(1);
            
        }
}
*/

.hearderset h1{
     font-size: 82px;
     text-transform: capitalize;
     font-weight: bold;
     animation: zoomin 2s forwards;
}

@keyframes zoomin{
           0%{
            transform: scale(-0);
        }
       
        100%{
            transform: scale(1);
            
        }
        
}




/*Header section Ends*/




/* Main ourservices section Starts*/



.ourservices{
    padding: 100px 0px 60px;
    height: 700px;
    background: linear-gradient(#6B7A8F 50%, rgba(255,255,255,0) 0) 0 0,
    radial-gradient(circle closest-side, #fc5226 53%, rgba(255,255,255,0) 0) 0 0,
    radial-gradient(circle closest-side, #fbaf08 50%, rgba(255,255,255,0) 0) 55px 0 #4f5f76;
    background-size: 110px 200px;
    background-repeat: repeat-x;
}


.ourservices h1 {
    font-weight: bold;
    font-size: 50px;
    text-transform: uppercase;
    padding-top: 50px;

}

.ourservices h2{
    font-weight: bold;
    text-transform: uppercase;
    background: #fff;
}

.hearderset button{
    position: relative;
    animation: fadeup 2s infinite;

}

@keyframes fadeup {
        0%{
            background: #987;
        }
        25%{
            background: #698;
            
        }
        50%{
            background: #987;
        }
        100%{
            background: #858;
            
        }

    
}


.rowsetting{
    margin: 80px 0px ;
}

.imgsetting{
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

.fa-shopping-cart{
    margin-top: 26px;
}



.fa-desktop{
    margin-top: 26px;
}

.fa-lock{
    margin-top: 24px;
}

.rowsetting p{
    color: #fff;
    padding: 10px;
}

.rowsetting p:hover{
    background: #fff!important;
    color: #000;
    transition: .10s;
}

.rowsetting h2{
    margin-top: 20px;
    font-weight: bold;
    font-size: 30px;
    background: #000;
    color: #fff;
}

.rowsetting h2:hover{
    color: #000;
    background:#fff; 
}



/* Main ourservices section Ends*/


/* Main POrfolio section Start*/


.portfolio{
    height: 1430px;
    width: 100%;
    padding: 100px 0px 50px;
    background: linear-gradient(#DCC7AA 50%, rgba(255,255,255,0) 0) 0 0,
radial-gradient(circle closest-side,  #1d1e22 53%, rgba(255,255,255,0) 0) 0 0,
radial-gradient(circle closest-side, #eb1736 50%, rgba(255,255,255,0) 0) 55px 0 #ff3a22;
background-size: 110px 200px;
background-repeat: repeat-x;
}

.portfolio h1{
    font-size: 50px;
    font-weight: bold;
    padding-top: 50px;
}

.card{
    margin-top: 40px;
}



/* Main POrfolio section End*/


/* Main Ourteam section start*/

.ourteam{
    height: 1130px;
    padding: 100px 0px 50px;
    width: 100%;
    background: linear-gradient(#009688 50%, rgba(255,255,255,0) 0) 0 0,
radial-gradient(circle closest-side, #c2b490 53%, rgba(255,255,255,0) 0) 0 0,
radial-gradient(circle closest-side, #eb1736 50%, rgba(255,255,255,0) 0) 55px 0 #003333;
background-size: 110px 200px;
background-repeat: repeat-x;
}


.sachin_button {
    border-radius: 10px;
    cursor: pointer;
    border: 4px solid #978 !important;
    color: #fff;
    width: 170px;
    font-size: 22px !important;
    transform: skew(5deg , 5deg);
    background: #009688;
    
}

.sachin_button:hover {
    box-shadow: 0px 0px 9px 6px;

}


.snehal_button {
    border-radius: 10px;
    cursor: pointer;
    border: 4px solid #978 !important;
    color: #fff;
    width: 170px;
    font-size: 22px !important;
    transform: skew(5deg , 5deg);
    background: #125;
    
}

.snehal_button:hover {
    box-shadow: 0px 0px 9px 6px;

}

.suchita_button {
    border-radius: 10px;
    cursor: pointer;
    border: 4px solid #978 !important;
    color: #fff;
    width: 170px;
    font-size: 22px !important;
    transform: skew(5deg , 5deg);
    background: #e4405f;
    
}

.suchita_button:hover {
    box-shadow: 0px 0px 9px 6px;

}

.anil_button {
    border-radius: 10px;
    cursor: pointer;
    border: 4px solid #978 !important;
    color: #fff;
    width: 170px;
    font-size: 22px !important;
    transform: skew(5deg , 5deg);
    background: #369;
    
}

.anil_button:hover {
    box-shadow: 0px 0px 9px 6px;

}

.sushant_button {
    border-radius: 10px;
    cursor: pointer;
    border: 4px solid #978 !important;
    color: #fff;
    width: 170px;
    font-size: 22px !important;
    transform: skew(5deg , 5deg);
    background: #568;
    
}

.sushant_button:hover {
    box-shadow: 0px 0px 9px 6px;

}

.dinesh_button {
    border-radius: 10px;
    cursor: pointer;
    border: 4px solid #978 !important;
    color: #fff;
    width: 170px;
    font-size: 22px !important;
    transform: skew(5deg , 5deg);
    background: #256;
    
}

.dinesh_button:hover {
    box-shadow: 0px 0px 9px 6px;

}


.ourteam h1{
    font-size: 50px;
    font-weight: bold;
    padding-top: 50px;
}

.teamsetting{
    margin-top: 50px !important;
}

figcaption p{
    color: #fff !important;
}


.imagecontainer{
    position: relative;
    width: 100%;
    overflow: hidden;
    display: flex;
}

.imagecontainer p {
    font-size: 30px;
    color: #fff;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translateX(-50%)!important;
    overflow: hidden;
}





.footer {
    height: 70px;
    margin-top: 0;
    width: 100%;
    height: 10rem;
    background-color:black;
background-image:
radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}

.footer h6{
    position: absolute;
     line-height: 50px;
     color: #fff;
     left: 50%;
     margin-top: 5%;
    transform: translateX(-50%);
}



/*Responsive code*/


/*
@media(min-width: 1024px){
    
    
.hearderset h2{
     font-size: 22px;
    text-transform: capitalize;
        margin-top: 110px;
}

.hearderset h1{
     font-size: 42px;
     text-transform: capitalize;
     font-weight: bold;
}
    
    
.ourservices{
    height: 1300px;
}
    
.portfolio{
    height: 2700px;
}

.ourteam{
    height: 1400px;
}
   

    
}
*/

@media(min-width: 768px) and (max-width: 991px){

.hearderset{
    padding-top: 100px;
    box-sizing: border-box;
}
    
.hearderset h2{
    font-size: 22px;
    text-transform: capitalize;
    margin-top: 110px;
}

.hearderset h1{
     font-size: 42px;
     text-transform: capitalize;
     font-weight: bold;
}
    
    
.ourservices{
    height: 1030px;
}
    
.rowsetting h2 {
    font-size: 21px;
}
    
.portfolio{
    height: 1130px;
}

.ourteam{
    height: 1130px;
}
    
.social-icons img {
    display: none;
    }
   
    
.footer{ 
    
}
    
 
}

@media(min-width: 575px) and (max-width: 767px){
   
    
.hearderset{
    padding-top: 100px;
    box-sizing: border-box;
}
    
.hearderset h2{
    font-size: 22px;
    text-transform: capitalize;
    margin-top: 110px;
}

.hearderset h1{
     font-size: 42px;
     text-transform: capitalize;
     font-weight: bold;
}
    
    
.ourservices{
    height: 1000px;
}
    
.rowsetting h2 {
    font-size: 21px;
}
    
.portfolio{
    height: 4700px;
}

.ourteam{
    height: 2650px;
}
    
.social-icons {
    position: absolute;
    top: 10px;
    left: 25%;
}
   
.social-icons img {
    width: 16% !important;
    height: auto;
    left: 10%;
    position: relative;
    /* padding: 10px 10px 10px 0px; */
}
    
.footer{
    margin-top: 0px;
}
    
}

@media(min-width: 480px) and (max-width: 574px){
    
    
.hearderset h2{
     font-size: 22px;
    text-transform: capitalize;
        margin-top: 110px;
}

.hearderset h1{
     font-size: 42px;
     text-transform: capitalize;
     font-weight: bold;
}

.Sachin {
    float: left;
    
}
    
.ourservices{
    height: 1330px;
}
    
.portfolio{
    height: 3420px;
}

.ourteam{
    height: 2650px;
}
    
.social-icons {
    position: absolute;
    top: 28px;
    left: 20%;
}
   
.social-icons img {
    width: 20%;
    height: auto;
    /* left: 13%; */
    position: relative;
    /* padding: 10px 10px 10px 0px; */
}

    
.footer{
    margin-top: 0px;
    height: 10rem;
}
    
}


@media(max-width: 479px){
 
    

    
.hearderset h2{
     font-size: 22px;
    text-transform: capitalize;
        margin-top: 110px;
}

.hearderset h1{
     font-size: 42px;
     text-transform: capitalize;
     font-weight: bold;
}
    
.social-icons {
    position: absolute;
    top: 28px;
    left: 13%;
}

.social-icons img {
    width: 20%!important;
    height: auto;
    /* left: 13%; */
    position: relative;
    /* padding: 10px 10px 10px 0px; */
}
 
.color {
    font-size: 16px;
    box-shadow: 2px 2px 5px 5px;
    cursor: pointer;
}
    
.ourservices{
    height: 1670px;
    
}
    
.portfolio{
    height: 2978px;
}

.ourteam{
    height: 2720px;
}


.fixed-top{
    clear: both;
}
    
.imagecontainer p {
    font-size: 16px;
    width: 100%;
    position: absolute;
    left: 78%;
}
    
.footer {
    margin-top: 0;
    height: 17rem;
}
    
}